{{#if budget.isOverBudget}}
   <p class="bad">You spent ${{budget.difference}} more than your goal! Do better!</p>
{{else}}
   <p class="good">You spent ${{budget.difference}} less than your goal! Good job!</p>
{{/if}}
