<h3>Edit Budget</h3>
<form {{action 'editBudget' on='submit'}}>
  {{input
    placeholder='Edit budget Name'
    value=this.name}}
    {{input
      placeholder='Edit budget Goal'
      value=this.goal}}
      {{input
        placeholder='Edit actual budget'
        value=this.actual}}
  <button type="submit">Save</button>
</form>
