
.about {
  margin-top: 25px;
  font-size: 20px;
}

.bad {
    border: 2px solid #fbfdff;
    border-color: red;
    text-align: center;
    width: 500px;
    font-size: 24px;
    margin: 30px auto 70px;
  }

body {
  background-color: gray;
  background-position: bottom;
}

caption {
  color: black;
  text-align: center;
  text-decoration: underline;
}

.ex {
  color: red;
}

.goal, .actual {
  list-style-type: none;
}

.good {
  border: 2px solid #fbfdff;
  border-color: gold;
  text-align: center;
  width: 500px;
  font-size: 24px;
  margin: 30px auto 70px;
}

.green {
  border: 2px solid #fbfdff;
  border-color: gold;
  margin-top: 20px;
  text-align: center;
  width: 300px;
  font-size: 24px;
}

img {
  width: 15%;
}

.index {
  border: .5em solid black;
  padding: 20px;
  width: 500px;
  height: 500px;
  border-top-color: gold;
  border-right-color: red;
  border-bottom-color: gold;
  border-left-color: red;
  border-style: groove;
  margin: 20px auto;
  text-align: center;
}

.list {
  margin-top: 55px;
}

.month {
  text-align: center;
  font-size: 42px;
  padding: 15px;
}

.name {
  font-size: 24px;
}

.red {
  border: 2px solid #fbfdff;
  border-color: red;
  text-align: center;
  float: right;
  margin-left: 200px;
  width: 300px;
  font-size: 24px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 35px;
}

.title {
  color: gold;
  text-align: center;
  padding: 20px;
}

.wink {
  width: 3%;
}
