.green {
  color: green;
  border: 2px solid #fbfdff;
  border-color: black;
}

img {
  width: 15%;
}
.red {
  color: red;
  border: 2px solid #fbfdff;
  border-color: black;
}

.thumbsdown {
  float: left;
}
