body {
  background-image: url('http://static-news.moneycontrol.com/static-mcnews/2017/03/black_money_dollars_720-770x433.jpg');
  background-position: center;
}

.green {
  color: #006400;
  border: 2px solid #fbfdff;
  border-color: black;
  margin-top: 20px;
}

img {
  width: 15%;
}

.red {
  color: red;
  border: 2px solid #fbfdff;
  border-color: black;
}

.thumbsup {
  margin-top: 50px;
}
