
{{#link-to 'new' tagName="button"}}Create New Budget List{{/link-to}}

<p class="month"> Monthly stats: </p>

  {{#each model as |budget|}}
  {{#if budget.isOverBudget}}
  <div class="red">
{{#link-to 'budget' budget}}{{budget.name}}{{/link-to}}
</div>
{{/if}}
{{/each}}

{{#each model as |budget|}}
{{budget.countGoal}}
{{budget.totalGoal}}
{{#unless budget.isOverBudget}}
<div class="green">
{{#link-to 'budget' budget}}{{budget.name}}{{/link-to}}
</div>
{{/unless}}
{{/each}}
