<div class="index">
<h1> Need help keeping track of your budget? </h1>

<p class="about"> Look no further! Budget x Tracker will help you do just that.
All you have to do is input what you want to keep track of, your budget goal,
and what you have actually spent. Budget x Tracker will do the rest!
We will let you know just how much you are over or under budget. If you
go over your budget name will appear in a red box. If you stay under or meet
your budget, your budget name will appear in a gold box. Just a tip: You always
want to have a gold box <img class="wink" src="wink.png">.
</p>
</div>
