<p> Today's stats:
  <div class="col-s12-m12 stats">
  <div class="col-s12-m6 thumbsdown">
  <img src="thumbsdown.jpg">
  {{#each model as |budget|}}
  {{#if budget.isOverBudget}}
  <div class="red">
    <p>
{{budget.name}}
</p>
</div>
{{/if}}
{{/each}}
  </div>

<div class="col-s12-m6 thumbsup">
<img src="thumbsup.png">
<div class="green">
{{#each model as |budget|}}
{{#unless budget.isOverBudget}}
  <ul>
{{budget.name}}
</ul>
{{/unless}}
{{/each}}
</div>
</div>
</div>
</p>
