<p> Today's stats:
  <div class="stats">
  <div class="thumbsdown">
  <img src="thumbsdown.jpg">
  <div class="red">
  {{#each model as |budget|}}
  {{#if budget.isOverBudget}}
    <ul>
{{budget.name}}
</ul>
{{/if}}
{{/each}}
  </div>
</div>

<div class="thumbsup">
<img src="thumbsup.png">
<div class="green">
{{#each model as |budget|}}
{{#unless budget.isOverBudget}}
  <ul>
{{budget.name}}
</ul>
{{/unless}}
{{/each}}
</div>
</div>
</div>
</p>
